<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="display-3 mt-5">Pipes</div>
      <hr>
      <table class="table">
        <thead>
          <tr>
            <th>Variable</th>
            <th>Pipe</th>
            <th>Resultado</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{nombre}}</td>
            <td>uppercase</td>
            <td>{{nombre | uppercase}}</td>
          </tr>
          <tr>
            <td>{{nombre}}</td>
            <td>lowercase</td>
            <td>{{nombre | lowercase}}</td>
          </tr>
          <tr>
            <td>{{frase}}</td>
            <td>slice:3</td>
            <td>{{frase | slice:3}}</td>
          </tr>
          <tr>
            <td>{{frase}}</td>
            <td>slice:0:3</td>
            <td>{{frase | slice:0:3}}</td>
          </tr>
          <tr>
            <td>{{arreglo}}</td>
            <td>slice:1:6</td>
            <td>{{arreglo | slice:1:6}}</td>
          </tr>
          <tr>
            <td>{{pi}}</td>
            <td>number:'1.0-3'</td>
            <td>{{pi | number:'1.0-3'}}</td>
          </tr>
          <tr>
            <td>{{numero}}</td>
            <td>percent</td>
            <td>{{numero | percent}}</td>
          </tr>
          <tr>
            <td>{{numero}}</td>
            <td>percent:'1.2-2'</td>
            <td>{{numero | percent:'1.2-2'}}</td>
          </tr>
          <tr>
            <td>{{sueldo}}</td>
            <td>currency</td>
            <td>{{sueldo | currency }}</td>
          </tr>
          <tr>
            <td>{{sueldo}}</td>
            <td>currency:'PEN'</td>
            <td>{{sueldo | currency:'PEN' }}</td>
          </tr>
          <tr>
            <td>{{sueldo}}</td>
            <td>currency:'EUR':true</td>
            <td>{{sueldo | currency:'EUR':true }}</td>
          </tr>
          <tr>
            <td>{{sueldo}}</td>
            <td>currency:'EUR':true:'1.3-3'</td>
            <td>{{sueldo | currency:'EUR':true:'1.3-3' }}</td>
          </tr>
          <tr>
            <td>{{sueldo}}</td>
            <td>number:'.3-3'</td>
            <td>{{sueldo | number:'.3-3' }}</td>
          </tr>
          <tr>
            <td>{{fecha}}</td>
            <td>date</td>
            <td>{{fecha | date}}</td>
          </tr>
          <tr>
            <td>{{fecha}}</td>
            <td>date:'medium'</td>
            <td>{{fecha | date:'medium'}}</td>
          </tr>
          <tr>
            <td>{{fecha}}</td>
            <td>date:'MMMM-dd'</td>
            <td>{{fecha | date:'MMMM-dd'}}</td>
          </tr>
          <tr>
            <td>{{nombreCompleto}}</td>
            <td>capitalizado</td>
            <td>{{nombreCompleto | capitalizado}}</td>
          </tr>
          <tr>
            <td>{{contra}}</td>
            <td class="text-center">contrasena:true <br><br>
              <button (click)="estado=!estado" class="btn btn-outline-success btn-block">Cambiar</button>
            </td>
            <td>{{contra | contrasena:estado }}</td>
          </tr>
        </tbody>
      </table>
      <br><br><br>
      <h4>Uso de <strong>slice:5:9</strong></h4>
      <ul>
        <li *ngFor="let numero of arreglo | slice:5:9">{{numero}}</li>
      </ul>
      <h4>Pipe <strong>JSON</strong></h4>
      <pre>{{heroe | json}}</pre>
      <h4>Youtube <small>ejemplo</small></h4>
      <div class="text-center">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/RgKAFK5djSk" frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
      <br><br><br>
    </div>
  </div>
</div>